p {
	font-size: 16pe;
	margin: 24pe;
}

p {
	font-size: 24pe;
	margin: 24pe;
}

p {
	font-size: 32/16pe;
	margin: 48pe;
}

p {
	font-size: 48/32pe;
	margin: 96pe;
}

p {
	font-size: 24px;
	margin: 24pe;
}

p {
	font-size: 2em;
	margin: 32pe 0;
}

p {
	font-size: 2rem;
	margin: 32pe 0;
}
