.a {
	font-size: 16pe;
	margin: 24pe;
}

.d {
	font-size: 24pe;
	margin: 24pe;
}

.e {
	font-size: 24px;
	margin: 24pe;
}

.b {
	font-size: 32/16pe;
	margin: 48pe;
}

.c {
	font-size: 48/32pe;
	margin: 96pe;
}

@media (max-width: 500px) {
  .g {
	font-size: 32pe;
	margin: 64pe;
  }
}
